@import 'colors';

$section
  position relative
  width 100%
  display flex
  flex-direction column
  flex 0 0 100vh
  align-items center
  justify-content center

.section--home
.section--available-positions
  @extends $section
  border-bottom 1px dashed arrayres-color('alizarin')
  color arrayres-color('midnight-blue')
  background-color arrayres-color('clouds')

.section--high-frequency-trading
  @extends $section
  border-bottom 1px dashed arrayres-color('clouds')
  color arrayres-color('clouds')
  background-color arrayres-color('alizarin')
