@import 'dimensions'

.text-block
  display block
  font-size 1.1rem
  line-height 1.6
  max-width 80%
  text-align justify

@media (max-width: $mobile-landscape)
  .text-block
    font-size 1rem
  .todo-list
    padding-left 1.5rem

@media (min-width: $desktop + 1)
  .text-block
    max-width 50rem
