@import 'colors'

.title--site
  font-size 5rem
  font-weight 700
  letter-spacing -0.2rem

.title--section
  font-size 4rem
  font-weight 700

.title-highlight--site
  color arrayres-color('alizarin')

  &::selection
    color arrayres-color('alizarin')

.title-sub--site
  font-size 2rem
  line-height 1.4
  font-weight 400
  max-width 50rem
  text-align center
